version: "3.8"

services:
  web:
    build: .
    container_name: myapi_web
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./app:/usr/src/app/app   # optional: mounts code for live edit during dev
    restart: unless-stopped
